{
  "extends": [
    "standard",
    "plugin:import/recommended"
  ],
  "reportUnusedDisableDirectives": true,
  "rules": {
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "padded-blocks": "off",
    "curly": "off",
    "brace-style": ["error", "stroustrup", {"allowSingleLine": true}],
    "object-curly-spacing": ["error", "never"],
    "indent": ["error", 2, {
      "SwitchCase": 1,
      "flatTernaryExpressions": true,
      "ignoredNodes": ["ConditionalExpression", "LogicalExpression"]
    }],
    "quotes": [1, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "no-return-assign": "off",
    "no-unused-vars": ["error", {
        "args": "all", "argsIgnorePattern": "^unused", "varsIgnorePattern": "^unused"
    }],
    "standard/no-callback-literal": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": false}]
  }
}
